:root {
  --color-italian-green: rgb(0, 140, 69);
  --color-italian-green-alpha: rgba(0, 140, 69, 0.25);

  --color-italian-white: rgb(244, 245, 240);
  --color-italian-white-alpha: rgba(244, 245, 240, 0.25);

  --color-italian-red: rgb(205, 33, 42);
  --color-italian-red-alpha: rgba(205, 33, 42, 0.25);

  --primary-color: #ffeace52;
  --secondary-color: #a36a534f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Gloria Hallelujah", cursive;
  width: 100%;
  height: 100vh;
  background-image: url("/public/pizza-time-background-blur.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

header {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 5rem;
  background-color: var(--primary-color);
  font-size: 1.25rem;
  border-bottom: 5px solid var(--color-italian-green);
}

main {
  display: flex;
  justify-content: center;
  position: absolute;
  flex-direction: column;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

footer {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: 5rem;
  background-color: var(--primary-color);
  font-size: 1.5rem;
  border-top: 5px solid var(--color-italian-red);
}

.form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.35rem;

  & div {
    gap: 0.35rem
  }

  & select {
    display: flex;
    height: 2.5rem;
    width: 18rem;
    font-family: "Gloria Hallelujah", cursive;
    font-weight: bold;
    font-size: 1rem;
    outline: none;
    color: white;
    border: 4px solid white;
    cursor: pointer;
    background-color: #a36953;
    transition: background-color 0.5s ease;

    &:hover {
      background-color: #ffeace;
      color: black;
    }

    & option {
      text-align: center;
      border-bottom: 1px solid black;
      cursor: pointer;
      font-weight: bold;
    }

    &:focus {
      background-color: #ffeace;
      color: black;
    }
  }

  & label {
    font-size: 1.75rem;
    color: white;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: var(--color-italian-green);
    text-decoration-thickness: 2.5px;
    text-decoration-style: wavy;
  }

  & button {
    display: flex;
    justify-content: center;
    margin: 2rem 0rem;
    height: 3rem;
    width: 10rem;
    font-family: "Gloria Hallelujah", cursive;
    font-weight: bold;
    font-size: 1.2rem;
    color: white;
    border: 4px solid white;
    cursor: pointer;
    background-color: #a36953;
    transition: background-color 0.5s ease;

    &:hover {
      background-color: #ffeace;
      color: black;
    }
  }
}

.pizzas-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weight-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hydration-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.yeast-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.result-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 116%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  gap: 0.25rem;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}
